:root {
    --notification-success: rgb(221, 235, 157);
    --notification-success-light: rgba(221, 235, 157, 0.5);
    --notification-green: #5DB996;
    --notification-error: rgb(216, 64, 64);
    --notification-error-light: rgb(216, 64, 64, 0.5);
    --notification-warning: rgb(255, 180, 51);
    --notification-warning-light: rgba(255, 180, 51, 0.5);
    --notification-info: rgb(120, 134, 199);
    --notification-info-light: rgba(120, 134, 199, 0.5);
    --notification-hover: rgb(239, 239, 239);
}

h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

.fai__notification__container {
    position: absolute;
    background-color: red;
    width: auto;
    height: auto;
    transition: opacity 2s ease, transform 2s ease;
    z-index: 9999;   
    display: flex;
    flex-direction: row;
    padding: 10px;
    border-radius: 10px;
}

.fai__notification__container.show{
  opacity: 1;                /* Hace que sea visible */
  transform: translateY(0);  /* Asegura que no haya desplazamiento extra */
}

.fai__notification__container.top {
    top: 10px;              
    left: 50%;                
    transform: translateX(-50%); 
}

.fai__notification__container.center {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.fai__notification__container.bottom {
    bottom: 10px;              
    left: 50%;                
    transform: translateX(-50%); 
}

.fai__notification__container.top-left {
    top: 10px;
    left: 10px;
}

.fai__notification__container.top-right {
    top: 10px;
    right: 10px;
}

.fai__notification__container.bottom-left {
    bottom: 10px;
    left: 10px;
}

.fai__notification__container.bottom-right {
    bottom: 10px;
    right: 10px;
}

.fai__notification__container.center-left {
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
}

.fai__notification__container.center-right {
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
}

.fai__notification__container.variant-success {
    background-color: var(--notification-success-light);
    border: 2px solid var(--notification-success);
}

.fai__notification__container.variant-error {
    background-color: var(--notification-error-light);
    border: 2px solid var(--notification-error);
}

.fai__notification__container.variant-warning {
    background-color: var(--notification-warning-light);
    border: 2px solid var(--notification-warning);
}

/*estos variantes debe ir deacuerdo al typo de notificacion que el usuario quiere*/
.fai__notification__container.variant-info {
    background-color: var(--notification-info-light);
    border: 2px solid var(--notification-info);
}

.fai__notification__icon {
    font-size: 30px;
    width: auto;
    display: grid;
    place-content: center;
    padding: 5px;
}

.fai__notification__body {
    display: flex;
    align-items: center;
    gap: 10px;
}

.fai__notification__close {
    background-color: transparent;
    border: none;
    width: 30px;
    height: 30px;
    border-radius: 10px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #1b1b1b;
}

.fa-circle-check {
    color: var(--notification-green);
}

.fa-circle-exclamation {
    color: var(--notification-error);
}

.fa-circle-info {
    color: var(--notification-info);
}

.fa-triangle-exclamation {
    color: var(--notification-warning);
}

button {
    cursor: pointer;
    padding: 10px 20px;
    color: #ffffff;
}

#btn_success {
    background-color: green;
}

#btn_error {
    background-color: red;
}

@media screen and (max-width: 374px) {
    .fai__notification__container {
        width: 95%;
    }
}